@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    font-family: "Open Sans", serif;
    font-size: 14px;
    color: #5a5956;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

a,
button {
    text-decoration: none !important;
}

.btn:focus {
    box-shadow: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    box-shadow: 0;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
    margin-bottom: 0;
    font-family: "Antonio", serif;
}
.container {
    max-width: 1170px !important;
}
a,
button {
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.App ul,
.App ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

.App p {
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

figure {
    margin: 0;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

.topbar {
    background-color: #4d5056;
    color: #ffffff;
    height: 38px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 3;
}
.login-a {
    color: #fff;
    text-decoration: none;
}
.login-a img {
    margin: 0 4px 2px 0;
}
.btn-header {
    background-image: linear-gradient(to bottom, #83c158, #608d41);
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 2px;
    padding: 1px 24.8px 2.2px;
}
.header-right {
    height: 25px;
}
.top-header-wrapper {
    height: 38px;
}
#language-dropdown {
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
}
.main-header a {
    color: #636363 !important;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 48px;
    font-family: "Antonio", serif;
    font-weight: 700;
    position: relative;
}
.main-header a.active {
    color: #74ab4e !important;
    text-decoration: none;
}
.main-header a:hover {
    color: #74ab4e !important;
    text-decoration: none;
}
.hero-section {
    background-image: linear-gradient(282deg, rgba(174, 213, 121, 0), rgba(99, 144, 56, 0.8)), url("assets/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.dropdopwn-hover {
    display: block;
    opacity: 0;
    visibility: hidden;
}
.main-header .dropdopwn-hover a {
    margin-left: 0;
    font-weight: normal;
    font-size: 16px;
}
.main-header a:hover .dropdopwn-hover,
.main-header li:hover .dropdopwn-hover {
    opacity: 1;
    visibility: visible;
}
.main-header a:before {
    background-color: #74ab4e;
    height: 3px;
    width: 100%;
    content: "";
    position: absolute;
    top: -36px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.main-header .dropdopwn-hover a:before {
    display: none;
}
.main-header a:hover:before,
.main-header li:hover:before {
    opacity: 1;
    visibility: visible;
}
.hero-content-left {
    padding: 6% 0;
}
.hero-content-left h1 {
    color: #fff;
    font-size: 22px;
    line-height: 42px;
    max-width: 625px;
}
.hero-content-left h2 {
    font-size: 35px;
    line-height: 58px;
    max-width: 625px;
    text-transform: uppercase;
    min-height: 232px;
}
.btn-white {
    background: #fff;
    color: #84b562;
    font-size: 18px;
    border: 1px solid #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: Antonio, serif;
    padding: 6px 85px;
    font-weight: 700;
}
.hero-content-right {
    background-color: rgba(116, 171, 78, 0.8);
    padding-top: 5%;
    padding-bottom: 5%;
}
.hero-content-right-inner h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
.circle-white {
    width: 74px;
    height: 74px;
    background-color: #ffffff;
    border-radius: 93px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}
.product__img {
    width: 64px;
    height: 64px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 5px;
}
.product-card-link p {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 5px;
    font-family: "Antonio", serif;
    text-decoration: none;
    color: #fff;
}
.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card a {
    padding: 22px 10px 0;
}

.our-solution-sec {
    background-color: #f7f6f6;
}
section {
    padding: 5% 0;
}

.text-holder h2 {
    font-size: 4rem;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 400;
    color: #5a5956;
}
.text-holder h2 span {
    color: #74ab4e;
}
.text-holder p {
    font-size: 18px;
}
.solution-box-img img {
    width: 85%;
}
.solution-box-text {
    padding-left: 45px;
    margin-top: 2%;
}
.solution-box-text p {
    text-align: justify;
    font-size: 17px;
    margin-bottom: 25px;
}
.outlinebtn {
    height: 42px;
    font-weight: bolder;
    border: solid 1.5px #74ab4e !important;
    background-color: transparent !important;
    color: #74ab4e !important;
    border-radius: 5px;
}

ul.solution-box-text li {
    display: flex;
    font-size: 16px;
}
ul.solution-box-text li:before {
    content: "\2714";
    margin-left: -20px;
    margin-right: 10px;
    color: #74ab4e;
    font-weight: bolder;
}
.solution-box-video {
    width: 100%;
    height: 286px;
    max-width: 510px;
}

.solution-box-video iframe.resp-iframe {
    width: 100%;
    height: 100%;
}
ul.solution-box-text p {
    margin-bottom: 1rem;
}
.container-value {
    max-height: 60vh;
}
#video_div {
    padding: 0;
    box-sizing: border-box;
    background: url("assets/laptop.png") center center no-repeat;
    background-size: contain;
}

#video_div video {
    padding: 20% 15%;
    width: 100%;
    height: 100%;
}
.text-justify {
    text-align: justify;
}
.solution-box-text h6 {
    font-size: 1.5rem;
    color: #74ab4e;
}
.OurServices-img img {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}
.premium-img {
    height: 80px;
    margin-bottom: 25px;
    width: auto;
}
.premium-partner-card p {
    font-size: 14px;
    color: #5a5956;
    margin: 0;
}
.premium-partner-card h6 {
    color: #5a5956;
    margin: 5px 0;
    text-transform: uppercase;
}
.cca-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricing-img img {
    width: 100%;
    height: auto;
}
.features-row {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.col__adv {
    background: white;
    border-left: solid 1px #d9e0d3;
}
.col__adv:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container--img {
    position: relative;
    height: 120px;
    width: 120px;
    margin: 20px auto 0;
}
.img--base {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}
.img--top {
    position: absolute;
    top: 21px;
    left: 23px;
    width: 74px;
    height: 74px;
}
.container-features__subtitle {
    font-size: 18px;
    color: #2e2f30;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 4px;
}
.container-features__text,
.container-features__learn-more {
    font-size: 14px;
    color: #5a5956;
    padding-bottom: 15%;
}
.col__adv:hover {
    background-color: #d9e7d5;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.img__awards {
    border: none;
    max-height: 80px;
    max-width: 120px;
    margin: 0 auto;
}
.container-awards h6 {
    font-size: 12px;
}
.container-awards p {
    font-size: 10px;
}
.testimonial-wrap {
    padding-left: 50px;
}
.testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
    position: relative;
    background: #fff;
}
.testimonial-img {
    width: 80px;
    position: absolute;
    left: -45px;
}
.testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
.testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}
.testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}
.quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.slick-dots li button:before {
    font-size: 16px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #74ab4e !important;
}
.slick-dots li {
    margin: 0 2px;
}

.footer {
    font-size: 14px;
    background: white;
}

.footer .footer-top {
    padding: 30px 0 10px 0;
    background: #b1bbad;
}

.footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

.footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #5a5956;
}

.footer .footer-top .footer-contact p,
.footer .footer-top .footer-contact a {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5a5956;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #5a5956;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    font-size: 18px;
    line-height: 1;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #5a5956;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #323230;
}

.footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #6c757d;
}

.footer .copyright {
    float: left;
}

.footer .credits {
    float: right;
    font-size: 13px;
}

.footer .credits a {
    transition: 0.3s;
}

.footer-cofinanced-bar {
    height: 30px;
    width: 300px;
}

.footer-image {
    width: 24px;
    height: 24px;
}

.footer-eit-food {
    height: 50px;
    width: 242px;
}
.commodities-section {
    min-height: 550px;
    background-image: linear-gradient(291deg, rgba(174, 213, 121, 0.6), rgba(99, 145, 56, 0.9)),
        url("assets/commoditiesbanner.jpg");
    background-size: cover;
}
.commodities-section h2 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    font-weight: 700;
    font-family: "Open Sans", serif;
    margin-bottom: 40px;
}
.commodities-tabs img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    background: white;
    border-radius: 50%;
    margin-right: 6px;
}
.commodities-tabs .nav-link {
    color: #84b562;
    font-size: 20px;
    border-radius: 5%;
    border: 0px solid white;
    background-color: white;
    padding: 8px 45px;
    margin: 0 2px;
    cursor: pointer;
    font-family: "antonio", serif;
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.commodities-tabs .nav-link:hover {
    color: white;
    background-color: #6dac44 !important;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 20, 20, 0.4);
}
.commodities-tabs .nav-link.active {
    color: white;
    border: 1px solid white;
    background-color: #6dac44 !important;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 20, 20, 0.4);
}
.hr_separator {
    border-top: 2px solid white;
    margin-bottom: 2rem;
    opacity: 1;
}
.commodities-text-wrapper h6 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.commodities-card {
    width: 115.3px;
    height: 115px;
    border-radius: 100px;
    box-shadow: 0 0 8px 0 #417505;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0 auto 28px;
    text-align: center;
}
.commodities-card img {
    width: 73px;
    height: 68px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 24px;
}
.commodities-card p {
    font-size: 16px;
    padding-top: 33px;
    font-family: "Antonio", serif;
}
